body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8cm;
    color: #666;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/*
fixed = Parallax
Scroll = normal
*/

    background-attachment: fixed;
}

.pimg1{
    background-image: url('fox-forest-minimalism-artwork-es-1920x1080.jpg');
    min-height: 100%;
}


.pimg2{
    background-image: url('thumb1920.png');
    min-height: 400px;
}


.pimg3{
    background-image: url('isaac_foster_by_ryuzaky_kun-dcj6cp6.png');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px   80px;
}

.section-light{
    background-color: #32064bb2;
    color: rgb(250, 253, 253)
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color:  #ddd;
    font-size: 27;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext  .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext  .border .trans{
    background-color: transparent;
}

@media(max-width:560px){
    .pimg1, .pimg2, .pimg3{
        background-attachment:  scroll;
    }   
} 

.navbar {
    background-color: #32064bb2;
    overflow: hidden;
    height: 63px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 20px;
    padding-bottom: 50px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
}
.navbar  .Login{
    float: right;
}


.navbar ul {
    margin: 1px 0 0 0;
    list-style: none;
}

.navbar a:hover {
    background-color: rgb(97, 39, 131);
    color: #864be6
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #32064bb2;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 30px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: rgb(66, 111, 129);
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media(max-width:568px) {
    .navbar-nav {display: none}
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: .5s;
}

.glass {
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
    transition: .5s;
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #ffffff;
    text-align: center;
}

.loginBox input 
{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #ffffff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox  input [type="text"] ,
.loginBox  input [type="password"] {
    border: none;
    border-bottom: 2px solid #e2dfdf;
    outline: none;
    height: 40px;
    color: #ffffff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

::placeholder {
    color: rgba(0, 0, 0, .5)
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #cecece;
}

.loginBox input[type='submit'] {
    width: 90%;
    border: none;
    outline: none;
    margin: 20px 0 20px 0;
    padding: 10px;
    height: 40px;
    font-size: 20px;
    background: #591586a4;
    color: rgb(255, 255, 255);
    border-radius:  50px;
    cursor: pointer;
}

.loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
}